.dice {
  height: 7rem;
  width: 7rem;
  border: 1px solid black;
  background-position: center center;
  background-size: contain;
  margin: 0 0 2rem 0;
}

.dice-1 {
  background-image: url("../../assets/dice1.jpeg");
}
.dice-2 {
  background-image: url("../../assets/dice2.jpeg");
}
.dice-3 {
  background-image: url("../../assets/dice3.jpeg");
}
.dice-4 {
  background-image: url("../../assets/dice4.jpeg");
}
.dice-5 {
  background-image: url("../../assets/dice5.jpeg");
}
.dice-6 {
  background-image: url("../../assets/dice6.jpeg");
}

@media only screen and (max-width: 768px) {
  .dice {
    height: 5rem;
    width: 5rem;
    border: 1px solid black;
    background-position: center center;
    background-size: contain;
    margin: 1rem;
  }
}
