.player-title {
  font-size: 5rem;
  color: var(--player-title);
  font-weight: 300;
}

.winner {
  color: var(--red);
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .player-title {
    font-size: 2rem;
  }
}
