.player {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.active {
  background-color: var(--pink);
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .player {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 1px 2px 10px black;
  }
}
