.game-play {
  z-index: 1;
  background-color: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
}

.game-play-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .game-play {
    z-index: unset;
    position: relative;
    height: 70vh;
  }
  .dice-container {
    display: flex;
  }
}
